.side-bar {
	position: fixed;
	z-index: 999;

	// top: 24px;
	top: 0;

	padding: 10px 0;

	border-radius: 4px;
	background-color: rgba(255, 255, 255, 0.95);
	box-shadow: 7px 7px 26px -12px #787878;

	transition: transform ease-out 0.25s;
	transform: translateX(-100%);

	@media print {
		display: none;
	}

	li {
		user-select: none;
		cursor: pointer;

		display: flex;
		// justify-content: space-between;
		justify-content: center;

		padding: 8px;
		margin: 4px;

		border-radius: 4px;

		transition: all .3s;
		&:hover{
			background-color: rgba(0, 0, 0, 0.05);
			transform: scale(1.02);

			opacity: .8;
		}
		&:active {
			transform: scale(.97);
		}
	}

	.ico {
		font-size: 20px;
		// margin-right: 8px;
		&.edit {
			color: orange;
		}
	}

	&.show {
		transform: translateX(0%);
	}

	.btn-toggle {
		cursor: pointer;
		position: absolute;

		// bottom: 100%;
		top: 0;
		left: 100%;

		margin-left: 3px;

		font-size: 24px;
		// color: #455A64;

		opacity: .3;
		transition: all .3s;

		&:hover {
			opacity: .7;
		}
	}

	.btn-close {
		cursor: pointer;
		position: absolute;
		display: none;

		padding: 1px;

		border-radius: 50%;

		// color: rgba(0, 0, 0, 0.5);

		background-color: rgba(255, 255, 255, 0.95);
		box-shadow: 7px 7px 26px -12px #787878;

		font-size: 16px;
		font-weight: bold;

		top: calc(100% - 10px);
		left: calc(100% - 10px);

		opacity: .3;

		transition: all .3s;
		&:hover {
			opacity: .9;
		}

	}
}