<template lang="pug">
ul.side-bar.js-side-bar
	<i class="fas fa-bars ico btn-toggle js-btn-toggle"></i>
	<i class="far fa-times-circle btn-close js-btn-close" title="Закрыть"></i>

	li(@click="addNewPage()" title="Новый лист")
		<i class="ico far fa-file"></i>
	li(@click="onEditMode()"  title="Редактировать проект")
		<i class="ico far fa-edit" :class="{'edit':editmode}"></i>
	li(@click="onZoomMode()" title="Маштабировать макет") <i class="ico fas fa-search-minus" :class="{'edit':zoommode}"></i>
	li(@click="saveProject" title="Сохранить проект") <i class="ico far fa-save"></i>
	li(@click="printProject" title="Печать проекта" ) <i class="ico fas fa-print"></i>
	//- li(@click="clearDraws"  title="Очистить проект") <i class="ico fas fa-eraser"></i>
	//- li(v-for="list in listMenu" :key="list.id" @click="list.action")
	//- 	<i class="ico" :class="list.ico"></i> {{ list.title }}

</template>

<script src="./SideBar.js"></script>