<template lang="pug">

	.image-gallery
		.gallery-container
			.gallery-title Выберите изображение
			.gallery-wrapper
				.gallery-img(
					v-for="img in images",
					:style="`background-image: url(${img.src})`"
				)
					input(:id="`id-gallery-img-${img.id}`" type="radio" name="image-gallery" @input="checkImg(img)")
					label(:for="`id-gallery-img-${img.id}`")
			.app-btn-group
				.app-btn( @click="addImg" ) Добавить
				.app-btn( @click="close" ) Отмена


</template>
<script src="./ImageGallery.js"></script>