.image-gallery{
	user-select: none;
	@include flex-ctr;
	position: fixed;

	height: 100vh;
	width: 100vw;

	top: 0;
	left: 0;
	z-index: 120;

	font-family: 'Roboto';
	background-color: rgba(255, 255, 255, 0.8);

	.app-btn-group{
		justify-content: flex-end;
	}
	.app-btn {
		height: 40px;
		width: 110px;

		&:nth-last-of-type(1){
			margin-left: 20px;
		}
	}

.gallery {
	&-container{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		@include size(60%);
		position: relative;
		min-height: 570px;
		min-width: 860px;

		padding: 20px;
		padding-top: 40px;

		border: 1px solid $border-base;
		border-radius: 4px;

		background-color: #ffffff;
		box-shadow:  0 0 24px rgba(0,0,0,.2);
	}

	&-title {
		position: absolute;
		top: 10px;
		width: 95%;

		text-align: center;
		font-size: 18px;
		color: lighten($color: #708090, $amount: 5%) ;
	}

	&-wrapper{
		position: relative;
		display: flex;
		flex-wrap: wrap;
		overflow-y: auto;

		width: 100%;
		height: 85%;
		min-height: 400px;
		min-width: 820px;

		// padding: 10px;

		border: 1px solid $border-base;
		// background-color: $border-lightex;

	}

	&-img{
		position: relative;
		@include bg-img-center;
		@include responsive-box(100%);
		height: fit-content;
		width: calc(100% / 5 - 30px);

		margin: 15px;

		box-shadow:  0 0 12px rgba(0,0,0,.1);
		transition: all .3s;

		input{
			position: absolute;
			display: none;

			&:checked + label {
				border: 1px solid rgba(95, 158, 160, 0.7);
				background-color: rgba(95, 158, 160, 0.3);

				box-shadow:  0 0 12px rgba(95, 158, 160, 0.2);
			}
		}

		label {
			cursor: pointer;
			position: absolute;
			@include size(100%);
			top: 0;
			left: 0;

			border: 1px solid $default-color;

			z-index: 1;

			transition: all .3s;
		}

		&:hover {
			box-shadow:  0 0 24px rgba(0,0,0,.1);

			label{
				background-color: rgba(95, 158, 160, 0.15);
			}
		}
	}
}
}
