<template lang="pug">

	table.plan__big-panel.bt-right
		tbody
			tr
				td.br-1
				td.br-1
				td.br-1
				td.br-1
				td.wd-15.br-1
				td.br-1
				//
					обозначение документа, в том числе раздела проекта,
					основного комплекта рабочих чертежей,
					чертежа изделия, текстового документа и др.;
				td.br-full.wd-120.upc.ctr.draw-number(
					colspan='6', rowspan='2',
					:contenteditable="editmode",
					:class="{'edit': editmode}",
					@blur="setContent('number',$event)",
					v-text="project.number"
				)
			tr
				td.br-1
				td.br-1
				td.br-1
				td.br-1
				td.br-1
				td.br-1
			tr
				td.br-1
				td.br-1
				td.br-1
				td.br-1
				td.br-1
				td.br-1
				//
					наименование предприятия, жилищно-гражданского комплекса
					или другого объекта строительства, в состав которого
					входит здание (сооружение) или наименование микрорайона;
				td.br-full.ctr(
					colspan='6',
					rowspan='3',
					:contenteditable='editmode',
					:class="{'edit': editmode}",
					@blur="setContent('nameGroup',$event)",
					v-text = "project.nameGroup"
				)
			tr
				td.br-1
				td.br-1
				td.br-1
				td.br-1
				td.br-1
				td.br-1
			tr
				td.br-full.ctr Изм.
				td.br-full.ctr Кол.уч.
				td.br-full.ctr Лист
				td.br-full.ctr №док.
				td.br-full.ctr Подп.
				td.br-full.ctr Дата
			tr
				td.br-1(colspan='2') Разраб.
				td.br-1(
					colspan='2' :contenteditable="editmode",
					:class="{'edit': editmode}",
					@blur="setContent('develop',$event)",
					v-text="project.develop"
				)
				td.br-1
				td.br-1
				// наименование здания (сооружения) и, при необходимости, вид строительства
				td.br-full.wd-70.ctr.draw-name(
					colspan='3',
					rowspan='3',
					:contenteditable="editmode",
					:class="{'edit': editmode}",
					@blur="setContent('typeBuild',$event)",
					v-text = "project.typeBuild"
				)

				td.br-full.ctr Стадия
				td.br-full.ctr Лист
				td.br-full.ctr Листов
			tr
				td.br-1(colspan='2') Проверил
				td.br-1(
					colspan='2' :contenteditable="editmode",
					:class="{'edit': editmode}",
					@blur="setContent('verification',$event)",
					v-text="project.verification"
				)
				td.br-1
				td.br-1
				td.br-full.ctr(rowspan='2') {{ project.stage }}
				td.br-full.ctr(rowspan='2') {{ pageId }}
				td.br-full.ctr(rowspan='2') {{ (pages.length-1) }}
			tr
				td.br-1(colspan='2') Т. контр.
				td.br-1(colspan='2' :contenteditable="editmode",
					:class="{'edit': editmode}",
					@blur="setContent('t_contr',$event)",
					v-text="project.t_contr"
				)
				td.br-1
				td.br-1
			tr
				td.br-1(colspan='2') Н. контр.
				td.br-1(colspan='2' :contenteditable="editmode",
					:class="{'edit': editmode}",
					@blur="setContent('n_contr',$event)",
					v-text="project.n_contr"
				)
				td.br-1
				td.br-1
				// наименование изображений, помещенных на данном листе, в точном соответствии с их наименованием на чертеже.
				td.br-full.ctr(
					colspan='3', rowspan='3', :contenteditable="editmode",
					:class="{'edit': editmode}" @blur="setContent('title',$event)",
					v-html="data.title || '____'"
				)
				td.br-full.ctr(
					colspan='3', rowspan='3', :contenteditable="editmode",
					:class="{'edit': editmode}" @blur="setContent('company',$event)",
					v-text="project.company"
				)
			tr
				td.br-1(colspan='2')
				td.br-1(colspan='2')
				td.br-1
				td.br-1
			tr
				td.br-1(colspan='2') ГИП
				td.br-1(colspan='2' :contenteditable="editmode",
					:class="{'edit': editmode}",
					@blur="setContent('gip',$event)",
					v-text="project.gip"
				)
				td.br-1
				td.br-1

</template>

<script>
import store from '@store';

export default {
	name: 'BigPanel',
	props:{
		data: Object,
		pageId: Number,
		editmode: Boolean,
		setContent: Function,
	},
	data() {
		return {
			pages: store.state.pages,
			project: store.state.project,
		};
	},
}
</script>