<template lang="pug">

	.content-resizable
		image-resizable(
			v-for="image,index in images" :key="index"
			:pageId="pageId", :imgIndex = "index", :image = "image"
		)
		text-block(
			v-for="text,index in blocks" :key="index"
			:pageId="pageId", :textIndex="index", :text="text"
		)

</template>
<script src="./ContentResizable.js"></script>