.top-menu{
	position: fixed;

	display: flex;
	align-items: center;
	// justify-content: space-between;
	justify-content: flex-end;
	width: fit-content;

	top: 0;
	right: 0;
	z-index: 990;

	height: fit-content;
	// width: calc(100% - 47px);
	border-radius: 4px;

	padding: 0 10px;
	background-color: rgba(255, 255, 255, 0.3);


	@media print {
		display: none;
	}

	.sys-info {
		display: flex;
		// background-color: rgba(255, 255, 255, 0.95);
		// background-color: rgba(255, 255, 255, 0.3);
	}

	.page-counter{
		margin-left: 8px;

		font-size: 12px;
		color: $neutral-secondary;
	}

	.mode {
		margin-left: 8px;
		font-size: 12px;

		&.edit{
			color: orange;
		}
	}
}

.menu-bar{
	@include flex-ctr;
	display: none;

	// border-radius: 4px;
	// background-color: rgba(255, 255, 255, 0.3);
	padding: 0 10px;

	&__item{
		user-select: none;
		cursor: pointer;

		display: flex;
		// justify-content: space-between;
		align-items: center;
		justify-content: center;

		padding: 8px;
		// margin: 4px;

		border-radius: 4px;

		transition: all .3s;
		&:hover{
			background-color: rgba(0, 0, 0, 0.05);
			transform: scale(1.02) translateY(4px);

			opacity: .8;
		}
		&:active {
			transform: scale(.97);
		}

		.ico {
			font-size: 20px;
			// margin-right: 8px;
			&.edit {
				color: orange;
			}
		}
	}
}