<template lang="pug">

.top-menu
	ul.menu-bar.js-menu-bar(v-if="editmode")
		li.menu-bar__item(
				title="Добавить текстовый блок",
				@click="addTextBlock"
			)
			i.far.fa-file-alt.ico
		li.menu-bar__item(
				title="Добавить изображение",
				@click="addImage"
			)
			i.far.fa-file-image.ico

	.sys-info
		.mode(v-show="zoommode" :class="{'edit':zoommode}") вкл. режим маштаб.
		.mode(v-show="editmode" :class="{'edit':editmode}") вкл. режим ред.
		.page-counter pages: <b>{{ curPage }}</b>/{{ page }}

</template>

<script src="./TopMenu.js"></script>