<template lang="pug">
	section.plan.js-plan(
		:class="[data.options.format, data.options.type]",
		:data-id="pageId"
	)
		.plan-body
			//- Титульная страница - 'title-page'
			template(v-if="data.options.type=='title-page'")
				//- template(v-if="false")
				.head-top(
					:contenteditable="editmode",
					:class="{'edit': editmode}",
					@blur="setContent('company',$event)",
					v-text="project.company"
				)
				.head-name(
					:contenteditable="editmode",
					:class="{'edit': editmode}",
					@blur="setContent('nameGroup',$event)",
					v-text="project.nameGroup"
				)
				.head-number
					|Шифр:&nbsp;
					span.upc(
						:contenteditable="editmode",
						:class="{'edit': editmode}",
						@blur="setContent('number',$event)",
						v-text="project.number"
					)
				.head-doc РАБОЧАЯ ДОКУМЕНТАЦИЯ

				.content
					.agreed Согласовано:
					.row(v-for="item in 6" :key="item.id")
						.underline
						.underline.short
				.footer Челябинск {{ year }}

			//- Содержание - 'contents-page'
			template(v-if="data.options.type=='contents-page'")
				//- template(v-if="false")
				.table-title Таблица 1. Ведомость рабочих чертежей основного комплекта
				table.table-contents
					tbody
						tr.table-head
							td №п/п
							td Размещение телекомуникационного оборудования
							td Примечания

						tr(v-for="page,index in pages" :key="page.id",
							v-if="index>0"
						)
							td.ctr {{ index }}
							td.px-1 {{ page.title }}
							td

				.table-title.mt-auto Таблица 2. Ведомость ссылочных и прилагаемых документов
				table.table-links
					tbody
						tr.table-head
							td.wd-40 Обозначение
							td Наименование
						tr
							td
							td.px-1 Ссылочные документы
						tr
							td.px-1 ВСН 116-93
							td.px-1 Линейно-кабельные сооружения связи. Инструкция по проектированию
						tr
							td.px-1 ОТСН 600-93
							td.px-1
								|Отраслевые строительно-технологические нормы на монтаж сооружений и
								|устройств связи, радиовещания и телевидения
						tr
							td.px-1 ПУЭ, изд. 7
							td.px-1 Правила устройства электроустановок
						tr
							td
							td.px-1 Прилагаемые документы
						tr
							td
							td
				big-panel(
					:data="data", :pageId="pageId",
					:editmode="editmode", :setContent="setContent"
				)
				table.plan__small-panel.bt-left(v-if="data.options.format=='horizontal'")
					tbody
						tr
							td.br-full.ctr Инд. № подл.
							td.wd-35.br-full.ctr Подп. и дата
							td.br-full.ctr Взам. инв. №
						tr
							td.br-full
							td.br-full
							td.br-full



			//- страница описания - 'description-page'
			template(v-if="data.options.type=='description-page'")
				//- template(v-if="false")
				.description-content.editable(
					placeholder="Здесь должен быть текст",
					:contenteditable="editmode",
					:class="{'edit': editmode}",
					@blur="setContent('text',$event)",
					v-html="data.content.text"
				)

				big-panel(
					:data="data", :pageId="pageId",
					:editmode="editmode", :setContent="setContent"
				)
				table.plan__small-panel.bt-left(v-if="data.options.format=='horizontal'")
					tbody
						tr
							td.br-full.ctr Инд. № подл.
							td.wd-35.br-full.ctr Подп. и дата
							td.br-full.ctr Взам. инв. №
						tr
							td.br-full
							td.br-full
							td.br-full




			//- дефолтная страница
			template(v-if="data.options.type=='default-page'")
				//- template(v-if="true")
				i.fas.fa-times.plan--close(
					v-show="editmode",
					title="Удалить лист",
					@click="removePage"
				)

				h2.plan__title(v-show="data.title && data.title!='____'") {{ data.title }}
				.plan__content(
					:class="{ 'border':editmode }",
				)
					//- | {{ message }} <br>
					//- | {{ data }}

					// форма загрузки изображения
					template( v-if="data.options.typeContent=='draw'" )
						//- .plan__upload-file(
								v-if="editmode && data.content.img.length==0"
							)
							upload-file(:pageId="pageId")

						//- .plan__content-images( v-if="data.content.img.length>0" )
						template( v-if="data.content.img.length>0 || data.content.textBlocks.length>0" )
							content-resizable( :pageId="pageId")

				big-panel(
					:data="data", :pageId="pageId",
					:editmode="editmode", :setContent="setContent"
				)
				table.plan__small-panel.bt-left(v-if="data.options.format=='horizontal'")
					tbody
						tr
							td.br-full.ctr Инд. № подл.
							td.wd-35.br-full.ctr Подп. и дата
							td.br-full.ctr Взам. инв. №
						tr
							td.br-full
							td.br-full
							td.br-full

</template>
<script src="./draw.js" ></script>