.plan {
	// cursor: auto;

	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;

	// height: 100vh;
	max-height: 297mm;
	height: 600px;
	width: 100%;
	// @include size(100%);

	margin: 0 auto;
	margin-bottom: 20px;
	padding: 5mm;
	padding-left: 20mm;

	font-family: 'GOST type A';
	font-size: 14px;
	font-style: italic;

	background-color: #ffffff;
	box-shadow:  0 0 8px rgba(0,0,0,.2);

	@media print {
		box-shadow: none;
		page-break-before: always;
		margin: 0;

		height: 297mm;
		width: 210mm;
	}

	// &:nth-last-of-type(1){
	// 	@media print {
	// 		page-break-inside: avoid;
	// 		page-break-before: avoid;
	// 	}
	// }

	&.vertical {
		height: 297mm;
		width: 210mm;
	}

	&.horizontal {
		height: 297mm;
		width: 210mm * 2;

		.plan__content {
			height: 100%;
		}

		@media print {
			transform-origin: left top;
			transform: rotate(90deg) scale(1.41428571) translateY(-297mm);
			zoom: 50%;
		}
	}

	&-body{
		position: relative;

		display: flex;
		flex-direction: column;
		align-items: center;

		padding: 16px;

		@include size(100%);
		border: 2px solid $neutral-primary;
	}

	&--close {
		cursor: pointer;
		position: absolute;
		top: 0;
		right: 2px;

		font-size: 16px;
		// color: #424242;
		opacity: .3;
		transition: all .3s;
		&:hover {
			opacity: .6;
			transform: scale(1.03);
		}
		&:active {
			transform: scale(.98);
		}
	}

	&__title{
		width: fit-content;
		font-size: 18px;
		// margin-top: 10px;
		margin-bottom: 20px;
	}

	&__upload-file{
		width: 450px;
		margin: auto;
		margin-top: 15%;
	}

	&__content {
		height: calc(100% - 70mm);
		width: 100%;
		padding: 10px;

		&.border {
			border: 1px dashed #0000002d;
		}
	}

	&__content-images{
		@include size(100%);
		position: relative;
	}

	&__big-panel{
		// width: 100%;
		width: 185mm;
	}
	&__small-panel {
		// width: 100%;
		width: 85mm;

		transform-origin: bottom left;
		transform: rotate(-90deg);

		.wd-35 {
			width: 41%;
		}
	}

	&__big-panel,
	&__small-panel{
		border-collapse:collapse;
		border-spacing:0;
		border: 2px solid $neutral-primary;

		background-color: #fff;
		z-index: 110;

		td{
			// width: 30px;
			width: 10mm;
			// min-width: 10mm;
			// max-width: 10mm;

			// height: 35px;
			height: 5mm;
			// min-height: 5mm;
			// max-height: 5mm;

			padding: 0 3px;
			border: 1px solid $neutral-primary;
			vertical-align: middle;

			line-height: 1;

			transition: all .4s;
		}

		.draw{
			&-number{
				font-size: 18px;
			}
			// &-name{

			// }
		}

		.wd-120{
			width: 65%;
			// width: 120mm;
		}
		.wd-70{
			width: 38%;
			// width: 70mm;
		}
		.wd-40{
			width: 40mm;
		}
		.wd-15{
			width: 8%;
			// max-width: 15mm
		}
		.wd-10{
			max-width: 10mm;
		}

		// .edit {
		// 	cursor: pointer;
		// 	background-color: rgba(152, 251, 152, 0.2);

		// 	transition-property: font-weight, background-color;
		// 	transition-duration: .1s, .5s;

		// 	&:hover {
		// 		background-color: rgba(152, 251, 152, 0.5);
		// 	}
		// 	&:focus {
		// 		cursor: text;
		// 		font-weight: 600;
		// 		background-color: rgba(211, 211, 211, 0.6);
		// 	}
		// }
	}

	.edit {
		cursor: pointer;
		background-color: rgba(152, 251, 152, 0.2);

		transition-property: font-weight, background-color;
		transition-duration: .1s, .5s;

		&:hover {
			background-color: rgba(152, 251, 152, 0.5);
		}
		&:focus {
			cursor: text;
			font-weight: 600;
			font-style: normal;
			background-color: rgba(211, 211, 211, 0.6);
		}
	}

	// Титульная страница
	&.title-page{
		font-size: 24px;
		line-height: 1;

		.head{
			// &-company{

			// }
			&-name{
				text-align: center;
				margin-top: 230px;
				padding: 0 30px;
			}
			&-number{
				margin-top: 30px;
			}
			&-doc{
				text-transform: uppercase;
				margin-top: 50px;
			}
		}

		.content{
			width: 100%;
			font-size: 22px;

			margin-top: 150px;
		}

		.row{
			display: flex;
			justify-content: space-between;

			width: 100%;
			margin-top: 38px;
		}

		.underline{
			width: 75%;
			border-bottom: 2px solid $light-color;

			&.short{
				width: 15%;
				margin-right: 5%;
			}
		}

		.footer{
			width: 100%;
			margin-top: auto;
			text-align: center;

			font-size: 22px;
		}
	}

	// Содержание
	&.contents-page{
		.plan-body{
			padding: 0;
			align-items: flex-start;
		}

		.table-contents,.table-links,tr,td{
			border-collapse:collapse;
			border-spacing:0;
			border: 1px solid $neutral-primary;
		}

		.table{
			&-title{
				margin: 8px 0;
				margin-bottom: 6px;
				padding-left: 4px;

				&.mt-auto{
					margin-top: auto;
				}
			}

			&-contents,&-links {
				width: calc(100% + 3px);
				margin-left: -1px;

				td {
					height: 5mm;
				}
			}

			&-links {
				margin-bottom: 90mm;
			}

			&-head {
				td {
					text-align: center;
				}
			}
		}
	}

	&.description-page{
		.plan-body{
			padding: 8px 16px;
		}
		.description-content {
			width: 100%;
			text-indent: 10mm;
		}
	}

	.bt-right{
		position: absolute;

		bottom: -2px;
		right: -2px;
	}
	.bt-left{
		position: absolute;

		bottom: -2px;
		left: 0px;
	}

	.ctr{
		text-align: center;
		vertical-align: middle;
	}
	.upc {
		text-transform: uppercase;
	}
	.pl-1{
		padding-left: 8px;
	}
	.px-1{
		padding: 0 8px;
	}

	.br-1{
		border-right: 2px solid $neutral-primary;
		border-left: 2px solid $neutral-primary;
	}
	.br-full{
		border: 2px solid $neutral-primary;
	}

	.wd-40{
		width: 40mm;
	}
}

@import './upload-file/UploadFile.scss';
@import './content-resizable/ContentResizable.scss';
@import './text-block/TextBlock.scss';
