<template lang="pug">

.pre-menu
	ul
		li(@click="addPage()") <i class="ico far fa-newspaper"></i> Новый проект
		li <i class="ico far fa-folder-open"></i> Открыть проект
		li <i class="ico fas fa-sign-out-alt"></i> Выход

</template>

<script src="./PreMenu.js"></script>