.pre-menu {
	position: absolute;
	@include flex-ctr;

	// @include size(100%);
	height: 100vh;
	width: 100vw;

	top: 0;
	left: 0;

	ul {
		@include flex-ctr;
		width: fit-content;
		flex-direction: column;
		align-items: baseline;

		padding: 40px 20px;
		margin: auto;

		border: 1px solid $border-base;
		border-radius: 4px;

		box-shadow:  0 0 24px rgba(0,0,0,.2);
	}

	li {
		user-select: none;
		cursor: pointer;

		display: flex;
		align-items: center;
		// justify-content: space-between;

		padding: 8px 40px;
		margin: 4px;

		border-radius: 4px;

		transition: all .3s;
		&:hover{
			box-shadow:  0 15px 5px -12px rgba(0,0,0,.2);
			background-color: rgba(0, 0, 0, 0.05);
			transform: scale(.97);

			opacity: .9;
		}
		&:active {
			transform: scale(1.01);
		}
	}

	.ico {
		color: lightslategrey;
		font-size: 30px;
		margin-right: 28px;

		transition: all .3s;
	}
}