.image{
	position: absolute;
	top:0;
	left:0;
	z-index: -1;

	@include size(100%);
	// @include bg-img-center;
	// background-size: contain;
	object-fit: contain;

	&-noedit{
		border: none;

		.upload-file{
			background-color: #fff;
		}
	}
	&-edit{
		font-family: 'Roboto';
		color: orangered;
		font-style: normal;
		font-size: x-small;
		border-color: $light-color;

		&.active {
			border-color: $primary-color;
			// z-index: 101 !important;

			.image--btn-del,
			.image--btn-add{
				display: inline-flex;
			}
		}
	}
	&-upload {
		.image--btn-del{
			display: inline-flex;
			color: $orange;
			bottom: 8px;
		}
	}
	&-info{
		position: absolute;
		top: 0;
		left: 0;
		z-index: 999;
	}
	&--btn-del,
	&--btn-add{
		@include size(24px);
		@include flex-ctr;
		cursor: pointer;
		position: absolute;
		display: none;
		bottom: 6px;
		right: 6px;
		// padding: 6px;

		z-index: 999;

		font-size: 14px;
		line-height: 1;

		color: $primary-color;
		background-color: $btn-secondary;
		border-radius: 50%;

		transition: all .2s;
		&:hover{
			transform: scale(1.1);
		}
		&:active{
			transition: all .05s;
			transform: scale(.95);
		}
	}
	&--btn-add{
		right: 34px;
	}
}

.handle {
	border: 1px solid $primary-color;
}

