<template lang="pug">

	vue-draggable-resizable(
		:class="{'image-noedit': !editmode || image.id=='','image-edit': editmode && image.id!='','image-upload': image.id==''}",
		:w="width" :h="height",
		:x="x" :y="y", :z="100"
		:min-height="150" :min-width="150",
		@dragging="onDrag",	@resizing="onResize", @dragstop="onDragstop", @resizestop="onResizestop",
		:parent="true", :draggable="editmode && image.id!=''", :resizable="editmode && image.id!=''"
	)
		.image-info(v-if="editmode && image.id!=''")
			|- id:{{ id }}<br>
			|- x:{{ x }}<br>- y:{{ y }}<br>
			|- w:{{ width }}<br>- h:{{ height }}

		template(v-if="image.id")
			i.far.fa-trash-alt.image--btn-del(
				v-if="editmode", title="Удалить"
				@click="delImage"
			)
			//- i.fas.fa-plus.image--btn-add(
					v-if="editmode", title="Добавить изображение",
					@click="addImage"
				)
			img.image(
				:src="image.src"
			)
		template(v-else)
			upload-file(
				:image="imgData", :pageId="pageId"
			)
			i.fas.fa-times.image--btn-del(
				v-if="editmode", title="Закрыть"
				@click="delImage"
			)

		//- .image(
			v-if="image.id",
			:style="`background-image: url(${image.src})`",
			)

</template>
<script src="./ImageResizable.js"></script>