<template lang="pug">

	vue-draggable-resizable(
		:class="{'text-block-noedit': !editmode || editable,'text-block-edit': editmode && !editable }",
		:w="width" :h="height",
		:x="x" :y="y", :z="100"
		:min-height="150" :min-width="150",
		@dragging="onDrag",	@resizing="onResize", @dragstop="onDragstop", @resizestop="onResizestop",
		:parent="true", :draggable="editmode && !editable", :resizable="editmode && !editable"
	)
		//- .text-block-info(v-if="editmode")
			|- id:{{ id }}<br>
			|- x:{{ x }}<br>- y:{{ y }}<br>
			|- w:{{ width }}<br>- h:{{ height }}
		i.fas.fa-pencil-alt.text-block--btn-edit(
			v-if="editmode", title="Редактировать",
			:class="{ 'active':editable }",
			@click="editable=!editable"
		)
		i.far.fa-trash-alt.text-block--btn-del(
			v-if="editmode", title="Удалить"
			@click="delTextBlock"
		)

		.text-block(
			placeholder="Здесь должен быть текст",
			:contenteditable="editmode && editable"
			:class="{'edit editable': editable}",
			@blur="editBlockBlur",
			v-html="text.text? text.text: 'Введите текст...'"
		)


</template>
<script src="./TextBlock.js" ></script>