.text-block{
	position: absolute;
	top:0;
	left:0;
	z-index: -1;
	overflow: auto;

	@include size(100%);

	&-noedit{
		border: none;

		.upload-file{
			background-color: #fff;
		}
	}
	&-edit{
		// font-family: 'Roboto';
		// color: orangered;
		// font-style: normal;
		// font-size: x-small;
		border-color: $light-color;

		&.active {
			border-color: $primary-color;
		}
	}
	&-info{
		position: absolute;
		top: 0;
		left: 0;
		z-index: 999;
	}
	&--btn-del,
	&--btn-edit{
		@include size(24px);
		@include flex-ctr;
		cursor: pointer;
		position: absolute;
		display: none;
		bottom: 6px;
		right: 6px;
		// padding: 6px;

		z-index: 999;

		font-size: 14px;
		line-height: 1;

		color: $primary-color;
		background-color: $btn-secondary;
		border-radius: 50%;

		transition: all .2s;
		&:hover{
			transform: scale(1.1);
		}
		&:active{
			transition: all .05s;
			transform: scale(.95);
		}
		.active &{
			display: inline-flex;
		}
	}
	&--btn-edit{
		right: 34px;
		&.active{
			color: #ffb300;
		}
	}
}