.upload-file{
	position: relative;
	width: 100%;

	font-family: 'Roboto';
	font-style: normal;
	color: orange;

	.btn--add-gallery{
		cursor: pointer;
		position: absolute;
		top: 8px;
		right: 8px;
		z-index: 99;
		font-size: 26px;

		transition: all .2s;
		&:hover{
			transform: scale(1.1);
		}
		&:active{
			transition: all .05s;
			transform: scale(.95);
			color: $neutral-secondary;
		}
	}

	input{
		cursor: pointer;
		position: absolute;
		@include size(100%);

		z-index: 1;
		opacity: .2;
	}

	label{
		@include flex-ctr;
		flex-direction: column;

		width: 100%;
		padding: 30px;
		text-align: center;

		border: 1px dashed orange;
		border-radius: 4px;

		transition: all .3s;
	}

	.ico{
		display: inline-block;
		font-size: 80px;

		margin-bottom: 16px;

		transition: transform .3s;
	}

	&.dragover,
	&:active{
		label{
			color: $neutral-secondary;
			border-color: $neutral-secondary;
		}

		.ico{
			transform: scale(1.1);
		}
	}
}