<template lang="pug">

	.upload-file
		input(type="file" :id="id" name="file" @input="uploadFile")
		label(:for="id")
			<i class="ico fas fa-file-upload"></i>
			p.text-info Кликните по области, чтобы выбрать файл, или перетащите его сюда
		i.far.fa-images.btn--add-gallery(title='добавить из галереи проекта' @click="addImgGallery")



</template>
<script src="./UploadFile.js"></script>