.mwin {
	user-select: none;
	@include flex-ctr;
	position: fixed;

	height: 100vh;
	width: 100vw;

	top: 0;
	left: 0;
	z-index: 1100;

	background-color: rgba(255, 255, 255, 0.8);

	&--container {
		width: 400px;

		padding: 40px;

		border: 1px solid $border-base;
		border-radius: 4px;

		background-color: #ffffff;
		box-shadow:  0 0 24px rgba(0,0,0,.2);
	}

	&--content {
		text-align: center;

		.ico {
			font-size: 24px;
			color: #FFB300;
		}
	}

	&--title {
		margin-bottom: 16px;

		font-weight: 500;
		font-size: 18px;
	}

	&--info {
		font-size: 13px;
		color: #696969;
	}

	&--btn-group {
		display: flex;
		justify-content: space-evenly;

		margin-top: 16px;
	}
}