<template lang="pug">

.mwin
	.mwin--container
		.mwin--content
			.mwin--title <i class="ico" :class="[type.ico]"></i> {{ type.title }}
			.mwin--info {{ type.info }}
		.mwin--btn-group
			.app-btn(@click="mwAction(true)") Да
			.app-btn(@click="mwAction(false)") Нет

</template>

<script src="./ModalWindow.js"></script>