<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")

		meta(http-equiv='X-UA-Compatible', content='ie=edge')
		script(src='https://kit.fontawesome.com/6070d04efb.js', crossorigin='anonymous')


		title Конструктор проектов

	body.dragscroll
		#app
			app

