<template lang="pug">

	div.app-container
		top-menu(:page="getpage",
			:editmode="editmode", :zoommode="zoommode"
		)
		//- pre-menu(v-if="pages.length==0" :addPage="addPage")
		side-bar(v-if="pages.length>0"
			:editmode="editmode"
			:zoommode="zoommode"
			:addNewPage="addPage"
			:onEditMode="onEditMode"
			:onZoomMode="onZoomMode"
			:printProject="printProject")
		modal-window(v-if="isMWShow")
		type-new-page(v-if="tpwin.show")
		image-gallery(v-if="galleryWin.show")

		.draw-wrapper.js-draw-wrapper(v-if="pages.length>0")
			draw(v-for="page, index in pages" :key="page.id"
				:data="page",
				:editmode="editmode"
				:pageId="index" )

</template>
<script src="./app.js"></script>