#app {
	position: relative;
	@include flex-ctr;

	align-items: baseline;

	// height: 100vh;
	width: 100%;
	min-width: fit-content;

	// padding-top: 24px;
}

.app{
	&-container {
		// @include flex-ctr;

		width: 100%;
		min-width: fit-content;
	}

	&-btn-group {
		@include flex-ctr;
		justify-content: space-between;
	}

	&-btn {
		@include flex-ctr;
		user-select: none;
		cursor: pointer;

		display: inline-flex;
		min-width: 64px;

		text-align: center;
		padding: 4px 0;

		border-radius: 3px;
		background-color: #708090;
		color: #ffffff;

		font-size: 14px;

		transition: all .2s;
		&:hover {
			opacity: .9;
			// transform: scale(.98);
			transform: scale(1.02);
		}
		&:active {
			// transform: scale(1.02);
			transform: scale(.98);
		}
	}
}

.draw-wrapper {
	width: 100%;
	min-width: fit-content;
	padding: 20px;
	padding-top: 50px;
	padding-bottom: 0;

	@media print{
		padding: 0;
		width: 210mm;
	}
}

@import './pre-menu/PreMenu.scss';
@import './side-bar/SideBar.scss';
@import './top-menu/TopMenu.scss';
@import './modal-window/ModalWindow.scss';
@import './type-new-page/TypeNewPage.scss';
@import './draw/draw.scss';
@import './image-gallery/ImageGallery.scss';