.type-page {
	user-select: none;
	@include flex-ctr;
	position: fixed;

	height: 100vh;
	width: 100vw;

	top: 0;
	left: 0;
	z-index: 1100;

	background-color: rgba(255, 255, 255, 0.8);

	&--container{
		// width: fit-content;
		min-width: 300px;

		padding: 40px;
		padding-bottom: 32px;

		border: 1px solid $border-base;
		border-radius: 4px;

		background-color: #ffffff;
		box-shadow:  0 0 24px rgba(0,0,0,.2);
	}

	&--format{
		.horizontal {
			transform: rotate(-90deg);
		}
	}

	&--title{
		text-align: center;
		margin-bottom: 24px;

		font-size: 18px;
	}

	&--insert{
		.insert--select{
			@include flex-ctr;
			font-size: 14px;
		}
		input{
			display: inline-block;
			margin: 0 4px;
			padding: 2px 8px;

			border: 1px solid $neutral-secondary;
			border-radius: 4px;
		}
	}
	li {
		user-select: none;
		cursor: pointer;

		display: flex;
		align-items: center;
		// justify-content: space-between;

		padding: 8px 40px;
		margin: 4px;

		border-radius: 4px;

		transition: all .3s;

		&.active {
			background-color: #dcdcdc;
			opacity: .8;
		}

		&:hover{
			box-shadow:  0 15px 5px -12px rgba(0,0,0,.2);
			background-color: rgba(0, 0, 0, 0.05);
			transform: scale(.97);

			opacity: .9;
		}
		&:active {
			transform: scale(1.01);
		}
	}

	.ico {
		color: lightslategrey;
		font-size: 30px;
		margin-right: 28px;
	}

	.app-btn {
		padding: 5px 20px;
	}

	.btn-group {
		@include flex-ctr;
		// justify-content: center;
		justify-content: space-around;
		width: 100%;

		margin-top: 24px;
	}
}
