<template lang="pug">

	.type-page.js-type-page
		.type-page--container
			.type-page--format(v-if="win.format")
				.type-page--title Ориентация листа
				ul
					li(
						:class="{'active':(options.format=='vertical')}",
						@click="setFormat('vertical')"
					) <i class="far fa-file ico vertical"></i> Вертикальная
					li(
						:class="{'active':(options.format=='horizontal')}",
						@click="setFormat('horizontal')"
					) <i class="far fa-file ico horizontal"></i> Горизонтальная


			//- .type-page--content(v-if="win.content")
				.type-page--title Выберите тип контента
				ul
					li(
						:class="{'active':(options.typeContent=='text')}",
						@click="setContent('text')"
					) <i class="far fa-file-alt ico"></i> Текстовый
					li(
						:class="{'active':(options.typeContent=='draw')}",
						@click="setContent('draw')"
					) <i class="far fa-file-image ico"></i> Графический

			.type-page--insert(v-if="win.insert")
				.type-page--title Выберите позицию <br> вставки новой страницы
				.insert--select.js-insert--select
					|после
					input(type="number" v-model="indexPage",
						min="2", :max="getPages.length-1"
					)
					|листа

			.btn-group.js-btn-group
				.app-btn.back.js-app-btn(v-if="btn.back" @click="next(-1)")
					|Назад
				.app-btn.next.js-app-btn(v-if="btn.next" @click="next(1)")
					|Далее
				.app-btn.cancel.js-app-btn(v-if="btn.cancel" @click="exit")
					|Отмена

</template>

<script src="./TypeNewPage.js"></script>